



.about{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;



    .p1{
        font-size: 15px;
        font-weight:lighter;
        margin-left: 60px;
        margin-right:10px;
         color: whitesmoke;
        font-family: 'Rock Salt';
        background-color: rgba(0, 0, 0, 0.583);
    }
    p{
        font-size: 14px;
        font-weight:lighter;
        margin-left: 60px;
        margin-right: 60px;
       
        color: #77e970ff;
        font-family: 'Rock Salt';
        background-color: rgba(0, 0, 0, 0.67);
    }

}
@media (max-width: 768px) {
    body {
      background-size: cover;
    }
  
    .about {
        display: flex;
    flex-direction: column;
  padding: 20px;
    align-items: center;
      .p1,
      p {
        width: 95%;
        background-color: rgba(0, 0, 0, 0.776);
        font-size: 10px;
        margin: 10px;
      }
    }
  }