.ul {
  margin-top: 20px;
background-color: rgba(0, 0, 0, 0.385);
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 86%;
  height: auto;
  gap: 10px;
  margin-bottom: 20px;

  
  .carta {
    width: 280px;
    height:300px;
    margin: 10px;
    text-align: center;
    border: none;
    background-color: #ebe8e8;
padding: 0 2px 40px 2px;
box-shadow: 7px 5px 9px #83d32fff;
transition: all 0.5s ease-in-out;
font-family: "Rock Salt";
}

  
    img {
      box-shadow: 3px 4px 8px #343131;
      width: 60%;
      height: auto;
    }

    h2 {
      margin: 2px;
      width: 100%;
      color: rgb(71, 195, 233);
      font-size: 15px;
    }
.specie{
  margin: 5px;
  width: 100%;
  font-size: 12px;
}
    .location {
      margin: 2px;
      width:100%;
      color: rgb(114, 4, 4);
      font-size: 9px;
      
    }
  }


@media (max-width: 768px) {
 
    .ul {
      margin-top: 20px;
    background-color: rgba(0, 0, 0, 0);
      display: inline-flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      gap: 5px;
      margin-bottom: 20px;
    
      
      .carta {
        width:25%;
        height:auto;
        margin: 10px;
        text-align: center;
        background-color: #ebe8e8;
    padding: 0 2px 30px 2px;
    box-shadow: 5px 3px 6px #7cd0b8;
    
    font-family: "Rock Salt";
    }
    
      
        img {
          box-shadow: 2px 2px 3px #343131;
          width: 80%;
          height: auto;
        }
    
        h2 {
          margin: 2px;
          width: 100%;
          color: rgb(60, 176, 212);
          font-size: 9px;
        }
    .specie{
      margin: 2px;
      width: 100%;
      font-size: 9px;
    }
        .location {
          margin: 2px;
          width:100%;
          color: rgb(114, 4, 4);
          font-size: 8px;
          
        }
      }
    
    
    }
  