.characters {
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 86%;
  height: auto;
  gap: 10px;
  margin-bottom: 20px;

  .carta {
    background-color: rgba(171, 255, 248, 0.298);
    width: 17%;

    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Rock Salt";

    img {
      width: 70%;
      height: auto;
    }

    h2 {
      width: 90%;
      color: rgb(71, 195, 233);
      font-size: 17px;
    }

    .location {
      width: 80%;
      color: rgb(255, 255, 255);
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .characters {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 10px;
    margin-bottom: 20px;

    .carta {
      background-color: rgba(0, 0, 0, 0.756);
      width: 30%;
      border-radius: 20px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: "Rock Salt";

      img {
        width: 100%;
        height: auto;
      }

      h2 {
        color: rgb(68, 190, 227);
        font-size: 7px;
      }

      .specie {
        color: aliceblue;
        font-size: 6px;
      }

      .location {
        color: rgb(79, 248, 61);
        font-size: 6px;
      }
    }
  }
}
