

.characters {
  
    display: inline-flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width:85%;
    height:auto;
    gap:10px;
    margin-bottom:20px;
  
    .carta {
      
      width: 20%;
      border-radius: 20px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      .hover {
       
        display: none;
        background-color: rgba(118, 233, 112, 0.887);
        border-radius: 10px;

      }
  
      img {
        width: 60%;
        height: auto;
        
      }

     

  
      &:hover {
        .hover {
          font-family: 'Rock Salt';
          font-size: 15px;
          width: 60%;
          text-align: center;
          display: block;
          color: rgb(0, 0, 0);
        }
      }
    }
  }

  @media (max-width: 768px) {

    .characters {
  
      display: inline-flex;
      justify-content:space-around;
      flex-wrap: wrap;
      width:100%;
      height:auto;
      gap:5px;
      margin-bottom:10px;
    
      .carta {
        
        width:20%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        &:hover {
          .hover {
            font-family: 'Rock Salt';
            font-size: 7px;
            width: 100%;
            text-align: center;
            display: block;
            color: rgb(0, 0, 0);
          }
        }
    
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
        }
      }
    }
  
