.titulo{
  width:50%;
  height: auto;
}

nav {
  justify-content: center;
  text-align: center;
  height: auto;
 
  ul {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      list-style-type: none;
      width: 100%;
    


      .rick {
        width:60%;
        border-radius: 30%;
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #00afe6;
        font-weight:bold;

        &:hover {
          color: #5fcf23;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  @media (max-width: 600px) {
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .titulo {
      width: 80%;
      text-align: center;
      margin-top: 20px;
    }
  
    ul {
      height: auto;
      margin: 10px;
      width: 100%;
      display: inline;
      flex-direction: column;
    }
  
    .rick {
      display: none;
    }
  
    a {
      font-size: 20px;
    }
  }
}