.home{
    width: 100%;
    img{
        width: 100vw;
        height: 82vh;
        object-fit: cover;
       
    }
}
@media (max-width: 768px) {
    .home{
        width: 100%;
        img{
            width: 100vw;
            height: 82vh;
            object-fit: contain;
           
        }
    }
  }