body{
    background-image: url('https://wallpapercave.com/wp/wp1822750.png');
      background-repeat: no-repeat;
      background-size: cover;
  
  }


.home{
    img{
        width: 100%;
        height: auto;
  
    }
}
@media (max-width: 768px) {
  body{
    background-image: url('https://wallpapercave.com/wp/wp1822750.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
    .home{
        .img{
            width:auto;
            height:auto;
           
        }
    }
  }