.titulo{
  width:50%;
  height: auto;
}

nav {
  justify-content: center;
  text-align: center;
  height: auto;

  ul {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      list-style-type: none;
      width: 100%;


      .rick {
        width:60%;
        border-radius: 30%;
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #00afe6;
        font-weight:bold;

        &:hover {
          color: #5fcf23;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  nav {
    ul {
      flex-direction: column;
      height: auto;

      li {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
.rick{
  display: none;
}
        a {
          color: rgb(146, 249, 223);
          font-size:20px;
          justify-content: space-around;
        }
      }
    }
  }
}