nav {
  background-color: rgba(0, 0, 0, 0);
  height: auto;

  ul {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      list-style-type: none;
      width: 100%;


      img {
        width: 60%;
        
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #00afe6;
        font-weight:bold;

        &:hover {
          color: #5fcf23;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  nav {
    ul {
      flex-direction: column;
      height: auto;

      li {
        width: 100%;
        height: auto;
        display: block;
        justify-content: space-around;
        text-align: center;

       img{
        display: none;
       }

        a {
          font-size: 20px;
        }
      }
    }
  }
}